-e nemo-gym[dev] @ ../../
verifiers>=0.1.9
--extra-index-url https://hub.primeintellect.ai/belharethsami/simple/
ascii-grid-maze
--extra-index-url https://hub.primeintellect.ai/will/simple/
wordle
--extra-index-url https://hub.primeintellect.ai/kalomaze/simple/
alphabet-sort
--extra-index-url https://hub.primeintellect.ai/primeintellect/simple/
acereason-math
